body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 16vw;
    height: 40vh;
    outline: 10px solid pink;
}

.input-block {
    display: flex;
}

.clear {
    flex: 1;
}

button {
    width: calc(100% / 3);
    border: none;
}

input {
    width: 100%;
}
